* {
  scroll-behavior: smooth;
  font-family: "Inter";
  position: relative;
}

.nav_menu {
  top: 0;
  width: 100%;
  background: #ffffff;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 21px;
  padding-left: 75px;
  margin-left: -10px;

  display: flex;
  gap: 31px;
  border-bottom: 1px solid #5a73a01a;
}
.logo {
  max-width: 136px;
  max-height: 31px;
  margin-left: 262px;
}

.nav_link {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s;
  z-index: 1;
}
.nav_link:hover {
  transform: translateY(2px);
}

.nav_btn {
  background: #5a73a0;
  color: #fafbff;
  padding: 10px 22px;
  border: transparent;
  border-radius: 6px;
  margin-left: 480px;
  z-index: 1;
}

/* ================================================== */

.elipse_1 {
  position: absolute;
  top: -138px;
  left: -50.35px;
  z-index: 0;
}
.elipse_2 {
  position: absolute;
  top: -138px;
  right: -50.35px;
  z-index: 0;
}

.main_title {
  font-size: 50px;
  text-align: center;
}
.main_title span {
  color: #5a73a0;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_texts {
  display: flex;

  align-items: center;
  justify-content: center;
}

.main_text {
  max-height: 35px;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main_text p {
  width: 350px;
  height: 35px;
  color: #565867;
}
.main_text span {
  color: #282828;
  font-weight: 600;
}
.mark {
  padding-bottom: 9px;
}

.main_btn {
  display: flex;
  gap: 2px;
  margin-bottom: 32px;
}

.main_btn-text {
  padding: 18px 39px 17px 41px;
  background: #282828;
  color: #ffffff;
  font-size: 16px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
  z-index: 1;
}
.main_btn-arrow {
  padding: 24px 20px 20px 20px;
  background: #282828;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  z-index: 1;
}

.main_graph {
  position: relative;
}
.main_graph2 {
  position: absolute;
  left: -165px;
  top: 187px;
  z-index: 1;
}
.main_graph3 {
  position: absolute;
  right: -205px;
  top: 10px;
  z-index: 1;
}

.blur {
  position: absolute;
  top: 236px;
  right: -419px;
  z-index: 0;
}
/* ======================================= */

.howItWorks {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 100px;
}

.howItWorks_title {
  display: flex;
  align-items: center;
  gap: 48px;
}
.howItWorks_title h1 {
  font-size: 32px;
  font-weight: 500;
}

.howItWorks_items {
  display: flex;
  gap: 30px;
}

.howItWorks_item {
  max-width: 300px;
  border: 0.5px solid #e8e8e8;
  border-radius: 15px;
  padding: 0px 14px 0px 14px;
}
.howItWorks_item p {
  color: #8e8e8e;
  padding-bottom: 14px;
}
.howItWorks_item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* ======================================= */
.advantages {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 100px;
  display: flex;
  gap: 30px;
}

.advantages_title {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-left: 75px;
  margin-right: 75px;
}
.advantages_title h1 {
  font-weight: 500;
}

.advantages_items {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.advantages_item {
  width: 410px;
  border: 0.5px solid #e8e8e8;
  border-radius: 15px;
  padding: 0px 14px 10px 22px;
  background: #f4f5fb;
}
.advantages_item2 {
  width: 410px;
  height: 173px;
  border: 0.5px solid #e8e8e8;
  border-radius: 25px;
  padding: 0px 14px 10px 22px;

  background: #282828;
  color: #ffffff;
}
.advantages_item2 h3 {
  font-weight: 500;
}
.advantages_item2 p {
  color: #b0b0b0;
}

.advantages_item p {
  color: #8e8e8e;
}
.advantages_item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 22px 0px 5px;
}

.advantages_images {
  display: flex;
  gap: 26px;
  margin-bottom: 25px;
}

.advantages_item_1 {
  max-width: 266px;
  height: 367px;
  padding: 5px 24px;
  border-radius: 25px;
  box-sizing: border-box;
  position: relative;
  border-top: 1px solid #dadada;
}

.advantages_item_1 h3 {
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
}
.advantages_item_1 p {
  z-index: 1;
  font-size: 14px;
  margin-bottom: 27px;
  color: #8e8e8e;
}

.bag {
  z-index: 1;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 15px;
}

.elipse_adv {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  max-width: 100%;

  border-radius: 15px;
}

.advantages_item_2 {
  max-width: 266px;
  height: 367px;
  padding: 0px 24px;
  border-radius: 25px;
  box-sizing: border-box;
  position: relative;
  background: #5a73a0;
}

.advantages_item_2 h3 {
  z-index: 1;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.advantages_item_2 p {
  z-index: 1;
  font-size: 14px;
  margin-bottom: 27px;
  color: #e6e6e6;
}

.arrow_btc {
  position: absolute;
  left: 5px;
  bottom: 0px;
  border-radius: 20px;
}

.advantages_item_3 {
  max-width: 266px;
  height: 367px;
  padding: 0px 24px;
  border-radius: 25px;
  box-sizing: border-box;
  position: relative;
}

.advantages_item_3 h3 {
  z-index: 1;
  color: #0b0b0b;
  font-size: 18px;
  font-weight: 600;
}
.advantages_item_3 p {
  font-size: 14px;
  margin-bottom: 27px;
  color: #383838;
}

.btc {
  position: absolute;
  left: 5px;
  bottom: 0px;
  border-radius: 20px;
  z-index: 1;
}

.elipse_btc {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  max-width: 100%;

  border-radius: 15px;
}

.advantages_items-under {
  display: flex;
  gap: 30px;
  margin-right: 25px;
}

.advantages_under-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages_under-item {
  width: 410x;
  border: 0.5px solid #e8e8e8;
  border-radius: 15px;
  padding: 0px 14px 10px 22px;
  background: #f4f5fb;
}

/* ============================================================== */

.getStarted {
  background: #e9eef5;
  margin-bottom: 100px;
}

.getStarted_items {
  margin-left: 95px;
}
.getStarted_item {
  width: 300px;
  background: #ffffff;

  border-radius: 15px;
  margin-bottom: 82px;
}
.getStarted_item h3 {
  padding: 22px 131px 0px 24px;
}
.getStarted_item p {
  padding: 0px 10px 0px 24px;
  color: #a6a6a6;
  margin-bottom: 120px;
  font-size: 14px;
}

.user_icon {
  padding: 0px 95px 0px 86px;
}

.getStarted_title {
  display: flex;
  gap: 48px;
  margin-left: 75px;
  padding-top: 82px;
  margin-bottom: 40px;
  align-items: center;
}

.getStarted_title h1 {
  font-weight: 500;
}

.contact_form {
  width: 244px;
  background: #f4f5fb;
  border-radius: 15px;
  margin-left: 28px;
}
.contact_form h3 {
  color: #a8b8cd;
  font-size: 12px;
  width: 235px;
}

.name {
  padding: 11px 15px 11px 17px;
  border-radius: 10px;
  border: transparent;
  margin-bottom: 6px;
  margin-left: 16px;
}
.tel {
  padding: 11px 15px 11px 17px;
  border-radius: 10px;
  border: transparent;
  margin-bottom: 6px;
  margin-left: 16px;
}

.contact_form {
  position: relative;
}

.user_icon {
  position: absolute;
  top: 155px;
}

.getStarted_items {
  display: flex;
  gap: 30px;
}

.calc_btn {
  background: #5a73a0;
  padding: 11px 78px 11px 90px;
  color: #ffffff;
  border-radius: 10px;
  border: transparent;
  margin: 0px 16px 15px 16px;
}
.calc {
  position: absolute;
  top: 140px;
  left: 48px;
}

.hand {
  position: absolute;
  top: 170px;
  left: 78px;
}

.activation_text {
  width: 294px;
}

.activation_btn {
  background: #565867;
  padding: 11px 78px 11px 90px;
  color: #ffffff;
  border-radius: 10px;
  border: transparent;
  margin: 0px 16px 15px 16px;
}

.money {
  position: absolute;
  top: 170px;
  left: 78px;
}
/* ======================================================== */

.inefficiencies {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.enhance {
  background: #5a73a0;
  width: 740px;
  height: 511px;
  position: relative;
  margin-left: 75px;
  border-radius: 15px;
}

.enhance_title {
  display: flex;
  gap: 48px;
  align-items: center;
}
.enhance_title img {
  margin-left: 42px;
}
.enhance_title h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  margin-top: 43px;
}

.enhance_img {
  position: absolute;
  bottom: -363px;
  right: 0px;
}
.graph_enhance {
  position: absolute;
  bottom: -415px;
  right: 0px;
}

.inefficiencies_blocks {
  margin-right: 112px;
  margin-bottom: 101px;
}

.black_block {
  background: #282828;
  max-width: 520px;
  border-radius: 15px;
}
.black_block p {
  color: #ffffff;
  padding: 26px 35px 35px;
  font-size: 18px;
}

.inefficiencies_block-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h_icon {
  padding: 0px 0px 0px 34px;
}
.h_img {
  padding: 15px 26px 0px 0px;
}

.white_block {
  background: #f4f5fb;
  max-width: 520px;
  border-radius: 15px;
}

.white_block p {
  color: #000000;
  padding: 26px 35px 35px;
  font-size: 18px;
}

.inefficiencies_block-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.up_icon {
  padding: 0px 0px 0px 34px;
}
.up_img {
  padding: 15px 26px 0px 0px;
}
/* ==================================================================== */

.earning {
  display: flex;
  gap: 160px;
}

.earning_text {
  margin-left: 75px;
}
.earning p {
  max-width: 500px;
  margin-bottom: 43px;
}

.earning_title {
  display: flex;
  align-items: center;
  gap: 48px;
}

.phones {
  position: relative;
  z-index: 2;
}

.hor_ellipse {
  position: absolute;
  bottom: 100px;
  right: -252px;
  z-index: 1;
}
.btc_03 {
  position: absolute;
  bottom: 240px;
  right: 542px;
  z-index: 0;
}
.usdt_3000 {
  position: absolute;
  bottom: 140px;
  right: 622px;
  z-index: 0;
}
.sol {
  position: absolute;
  bottom: 370px;
  right: 342px;
  z-index: 0;
}
.eth {
  position: absolute;
  bottom: 70px;
  right: -62px;
  z-index: 4;
}

.blur_phones {
  position: absolute;
  bottom: 0px;
  right: -128px;
  z-index: 3;
}

/* ================================================================= */

.why {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.why_title {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-left: 75px;
  margin-bottom: 40px;
}

.whyblocks_1 {
  margin-left: 75px;
}

.whyblock_1 {
  background: #f4f5fb;
  max-width: 410px;
  border-radius: 15px;
  padding: 29px 40px 33px 35px;
  margin-bottom: 30px;
}
.whyblock_1 img {
  margin-bottom: 106px;
}
.whyblock_1 p {
  font-size: 18px;
  font-weight: 500;
}

.whyblock_2 {
  width: 410px;
  border-radius: 15px;
  padding: 29px 0px 33px 35px;
  border: 0.5px solid #dcdcdc;
}
.whyblock_2 img {
  margin-bottom: 106px;
}
.whyblock_2 p {
  font-size: 18px;
  font-weight: 500;
}

.whyblocks_2 {
  margin-right: 75px;
}

.whyblock_3 {
  background: #f4f5fb;
  max-width: 410px;
  border-radius: 15px;
  padding: 29px 40px 33px 35px;
  margin-bottom: 30px;
}
.whyblock_3 img {
  margin-bottom: 106px;
}
.whyblock_3 p {
  font-size: 18px;
  font-weight: 500;
}

.whyblock_4 {
  width: 410px;
  border-radius: 15px;
  padding: 29px 0px 33px 35px;
  border: 0.5px solid #dcdcdc;
}
.whyblock_4 img {
  margin-bottom: 106px;
}
.whyblock_4 p {
  font-size: 18px;
  font-weight: 500;
}

/* ================================================================= */

.footer {
  background: #202020;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.logo_footer {
  padding: 38px 634px 40px 634px;
}

.line {
  padding: 0px 75px 19px 75px;
}

.footer_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
}

.footer_links {
  display: flex;
  gap: 52px;
  text-decoration: none;
}
.footer_links a {
  text-decoration: none;
  color: #ffffff;
}

.footer_icons {
  display: flex;
  gap: 21px;
  padding: 38px 394px 40px 134px;
}

/* ====================================================================*/

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 100;
  background: #e0e0e0;
  width: 48px;
  height: 37px;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
}

.burger span {
  width: 25px;
  height: 2px;
  background: #282828;
  margin: 3px 0;
  transition: 0.3s;
  border-radius: 2px;
}

/* Анимация для открытого бургера */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media (max-width: 400px) {
  .nav_menu {
    padding: 15px 20px;
    margin-left: 0;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
  }

  .logo {
    margin-left: 0;
    max-width: 100px;
  }

  .nav_menu.active {
    flex-wrap: wrap; /* Разрешаем перенос */
  }

  /* Заголовочная строка (лого, бургер, кнопка) остаются в строке */
  .nav_menu.active .logo {
    order: 1;
  }

  .nav_menu.active .burger {
    order: 3;
  }

  .nav_menu.active .nav_btn {
    order: 2;
  }

  .nav_menu .nav_link {
    display: none;
  }

  .nav_menu.active .nav_link {
    display: block;
    position: absolute;
    top: 100%;

    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
    order: 4;
  }

  .nav_menu.active .nav_link:first-of-type {
    top: 80px;
    padding-left: 130px;
    max-width: 380px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .nav_menu.active .nav_link:nth-of-type(2) {
    top: 130px;
    padding-left: 130px;
    max-width: 380px;
  }

  .nav_menu.active .nav_link:nth-of-type(3) {
    top: 180px;
    padding-left: 147px;
    max-width: 380px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .burger {
    display: flex;
    order: 3;
  }

  .nav_btn {
    order: 2;
    padding: 8px 16px;
    font-size: 14px;
    margin-left: 72px;
  }

  /* ======================================================== */
  body {
    padding-top: 80px;
  }

  /* Главный блок */
  .main_title {
    font-size: 28px;
    padding: 0 20px;
  }

  .main_texts {
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    text-align: center;
  }

  .main_text p {
    width: auto;
    font-size: 14px;
  }

  .main_btn-text {
    padding: 12px 25px;
    font-size: 14px;
  }

  .main_btn-arrow {
    padding: 15px 15px;
  }

  .main_graph img {
    max-width: 100%;
    height: auto;
  }
  .main_graph {
    max-width: 365px;
    margin-bottom: 60px;
  }

  .main_graph2 {
    left: -37px;
    top: 127px;
    max-width: 92px;
  }
  .main_graph3 {
    right: -20px;
    top: 23px;
    max-width: 120px;
  }

  .elipse_2 {
    top: -23px;
    right: -240.35px;
  }
  .elipse_1 {
    top: -25px;
    left: -101.35px;
  }

  .blur {
    display: none;
  }

  /* How It Works */
  .howItWorks {
    margin-left: 20px;
    margin-right: 20px;
  }

  .howItWorks_title {
    gap: 15px;
    text-align: center;
  }

  .howItWorks_title h1 {
    font-size: 24px;
  }

  .howItWorks_items {
    flex-direction: column;
    align-items: center;
  }

  .howItWorks_item {
    max-width: 100%;
    width: 100%;
  }

  /* Advantages */
  .advantages {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .advantages_title {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .advantages_title h1 {
    font-size: 24px;
  }

  .advantages_item,
  .advantages_item2 {
    width: 100%;
    box-sizing: border-box;
  }

  .advantages_images {
    flex-direction: column;
    align-items: center;
  }

  .advantages_item_1,
  .advantages_item_2,
  .advantages_item_3 {
    width: 100%;
    box-sizing: border-box;
  }

  .btc {
    margin-top: 0px;
  }

  .advantages_items-under {
    flex-direction: column;
  }

  /* Get Started */
  .getStarted_title {
    margin-left: 20px;
    text-align: center;
    padding-top: 40px;
  }

  .getStarted_items {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .getStarted_item {
    width: 100%;
    margin-bottom: 30px;
  }

  .contact_form {
    width: 100%;
    margin-left: 0;
  }

  .name,
  .tel {
    width: calc(100% - 40px);
  }

  .calc_btn,
  .activation_btn {
    width: calc(100% - 32px);
    padding: 11px 0;
    text-align: center;
  }

  /* Inefficiencies */
  .inefficiencies {
    flex-direction: column;
  }

  .enhance {
    width: calc(100% - 40px);
    margin-left: 20px;
    height: auto;
    padding-bottom: 20px;
    height: 365px;
  }

  .enhance_title {
    gap: 20px;
  }

  .enhance_title h2 {
    font-size: 24px;
  }

  .enhance_img img,
  .graph_enhance img {
    max-width: 100%;
    height: auto;
    position: static;
    margin-top: 20px;
  }

  .enhance_img {
    position: absolute;
    max-width: 325px;
    bottom: -236px;
    right: 0px;
  }

  .inefficiencies_blocks {
    margin-right: 20px;
    margin-left: 20px;
  }

  .black_block,
  .white_block {
    max-width: 100%;
  }

  .black_block p,
  .white_block p {
    font-size: 14px;
    padding: 20px;
  }

  /* Earning */
  .earning {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 20px;
  }

  .earning_text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .earning_title {
    text-align: center;
    gap: 20px;
  }
  .br {
    display: none;
  }
  .earning p {
    max-width: 100%;
  }

  .phones {
    height: auto;
    position: relative;
    z-index: 2;
    max-width: 300px;
    margin-left: 40px;
  }
}
.hor_ellipse {
  bottom: 78px;
  right: -130px;
  z-index: 0;
}

.blur_phones {
  bottom: -1px;
  right: -35px;
  z-index: 3;
  max-width: 789px;
}

/* Why */
.why {
  flex-direction: column;
}

.why_title {
  margin-left: 20px;
  text-align: center;
}

.whyblocks_1,
.whyblocks_2 {
  margin-left: 20px;
  margin-right: 20px;
}

.whyblock_1,
.whyblock_2,
.whyblock_3,
.whyblock_4 {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.whyblock_1 img {
  margin-bottom: 42px;
}
.whyblock_2 img {
  margin-bottom: 42px;
}
.whyblock_3 img {
  margin-bottom: 42px;
}
.whyblock_4 img {
  margin-bottom: 42px;
}

/* Footer */
.logo_footer {
  padding: 30px 20px;
  text-align: center;
}

.logo_footer img {
  max-width: 120px;
}

.line {
  padding: 0 20px 19px 20px;
}

.footer_items {
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
}

.footer_links {
  align-items: center;
  gap: 15px;
}

.footer_icons {
  padding: 20px 0;
  justify-content: center;
}

/* Общие исправления */
.advantages_item_1,
.advantages_item_2,
.advantages_item_3 {
  height: auto;
  min-height: 300px;
}

.bag,
.arrow_btc,
.btc {
  max-width: 100%;
  height: auto;
  position: static;
}

.advantages_items-under {
  margin-right: 0px;
}

.elipse_adv,
.elipse_btc {
  max-width: 100%;
  height: auto;
}

.user_icon {
  top: 148px;
  left: 11px;
}
.calc {
  top: 142px;
  left: 72px;
}
.hand {
  top: 160px;
  left: 105px;
}

.h_img {
  max-width: 100px;
}
